@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour:BLED@17&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  background: #f6f5ff;
   font-family: "Poppins", serif;
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", serif;
  font-weight: 400;
  font-style: normal;
}

.sixtyfour{
  font-family: "Sixtyfour", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 17,
    "SCAN" 0;
}



h1.ce-header{
  @apply text-2xl font-bold
}
h2.ce-header{
  @apply text-xl font-semibold
}
h3.ce-header{
  @apply text-lg font-normal
}
h4.ce-header{
  @apply text-base font-normal
}
h5.ce-header{
  @apply text-sm font-light
}
h6.ce-header{
  @apply text-xs font-extralight
}
 

@layer components{
    .custom-scrollbar::-webkit-scrollbar{
        width: 4px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb{
        background: transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb{
        background-color: #a5b4fc;
        width:5px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

}